* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* drop down section image animation */
.custom_img {
  width: 200px;
  height: 200px;
  position: relative;
  animation-duration: 2s;
  animation-name: up-down;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* main */
.custom_position {
  background-color: white;
  height: 300px;
  margin-top: -150px;
  margin-bottom: 150px;
}

@media only screen and (max-width: 600px) {
  .custom_position {
    background-color: white;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 1000px;
  }
}
/* main */

/* chat for up to 600 px start */

/* chat for up to 600 px  end*/

@media only screen and (max-width: 600px) {
  .custom_position {
    background-color: white;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 1000px;
  }
}

.smallCard {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  position: relative;
  animation-name: smallCard;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes smallCard {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(10px);
  }
}

.trusted {
  margin: 150px 0;
  text-align: center;
  font-size: 20px;
}

/* card design */
/* Logo component card design */
.custom-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}

.custom-card:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

/* Pricing component card design */
.cards {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cards:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .cards {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
  }
}
